[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
langchain-community="*"
black = "*"

[dev-packages]

[requires]
# not using latest version cause pinecone is not yet supported with the python latest version.
python_version = "3.12.8"
